BasedOnStyle: LLVM
IndentWidth: 2
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
UseTab: Never
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 120
